Nube/flows.json
[
    {
        "id": "274776c7d75078ed",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ba8f5fd905cbff1",
        "type": "http request",
        "z": "274776c7d75078ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://atlas.microsoft.com/geocode?api-version=2022-09-01-preview&subscription-key=OTCxnVN1XWTNcRHsC85L5CKeTegCSy9NW0D0UiCoMkE&countryRegionSet=CO&adminDistrict=DC&addressLine=Cra. 19 No 49-20",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "4d67e0d57b30d395",
                "dcb3986dc595dbf8",
                "5bf94dcc490ff1ce"
            ]
        ]
    },
    {
        "id": "2866bc1b21b5652b",
        "type": "inject",
        "z": "274776c7d75078ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "3ba8f5fd905cbff1"
            ]
        ]
    },
    {
        "id": "2162e5d080391004",
        "type": "debug",
        "z": "274776c7d75078ed",
        "name": "Cor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 680,
        "wires": []
    },
    {
        "id": "efa00dbf926ea4ee",
        "type": "watson-text-to-speech",
        "z": "274776c7d75078ed",
        "name": "",
        "lang": "es-ES",
        "langhidden": "es-ES",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "es-ES_LauraVoice",
        "voicehidden": "es-ES_LauraVoice",
        "format": "audio/wav",
        "password": "",
        "apikey": "q7HMAPK4Ddkk7xq5NFL87bpXmEJdhVpBUWJEbi3as26M",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/1ad167e6-8d2d-4b77-bfa2-2c8c595d1289",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "da80d50e70644a01",
                "8fecc6c62fef1734"
            ]
        ]
    },
    {
        "id": "da80d50e70644a01",
        "type": "play audio",
        "z": "274776c7d75078ed",
        "name": "",
        "voice": "1",
        "x": 990,
        "y": 420,
        "wires": []
    },
    {
        "id": "16866cee9195d63b",
        "type": "telegram receiver",
        "z": "274776c7d75078ed",
        "name": "",
        "bot": "734909d40f8d2e1e",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "8af33a02038574de"
            ],
            []
        ]
    },
    {
        "id": "38ea79e13303d278",
        "type": "telegram sender",
        "z": "274776c7d75078ed",
        "name": "",
        "bot": "734909d40f8d2e1e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1010,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8af33a02038574de",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "Tel_text",
        "func": "msg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "efa00dbf926ea4ee"
            ]
        ]
    },
    {
        "id": "37db96badc503f85",
        "type": "comment",
        "z": "274776c7d75078ed",
        "name": "Proyecto",
        "info": "",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "8fecc6c62fef1734",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "Speech_tel",
        "func": "msg.payload = {\n    chatId: 5491212780,\n    type : \"voice\",\n    content : msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 480,
        "wires": [
            [
                "38ea79e13303d278"
            ]
        ]
    },
    {
        "id": "4d67e0d57b30d395",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "function 7",
        "func": "msg.payload = msg.payload.features[0].properties.address.formattedAddress;\n//msg.payload = msg.payload.features[0].geometry.coordinates;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "22bd6de032119b49"
            ]
        ]
    },
    {
        "id": "22bd6de032119b49",
        "type": "debug",
        "z": "274776c7d75078ed",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "dcb3986dc595dbf8",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "function 8",
        "func": "msg.payload = msg.payload.features[0].geometry.coordinates;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5bf94dcc490ff1ce",
        "type": "debug",
        "z": "274776c7d75078ed",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "4b56863c78a9e976",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "Direccion_A",
        "func": "msg.d = \"Cra. 19 No 49-20\"\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "df5212076653b78e"
            ]
        ]
    },
    {
        "id": "df5212076653b78e",
        "type": "http request",
        "z": "274776c7d75078ed",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://atlas.microsoft.com/geocode?api-version=2022-09-01-preview&subscription-key=OTCxnVN1XWTNcRHsC85L5CKeTegCSy9NW0D0UiCoMkE&countryRegionSet=CO&adminDistrict=DC&addressLine={{{d}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 720,
        "wires": [
            [
                "16efd0b1cf9c950d",
                "af9a102c54a3e900",
                "13f45162dcd2c9ea"
            ]
        ],
        "info": "Payload: {{payload}}"
    },
    {
        "id": "16efd0b1cf9c950d",
        "type": "debug",
        "z": "274776c7d75078ed",
        "name": "datos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 720,
        "wires": []
    },
    {
        "id": "60becac9d3ef2912",
        "type": "debug",
        "z": "274776c7d75078ed",
        "name": "Dir",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 760,
        "wires": []
    },
    {
        "id": "2687dd35ac41459c",
        "type": "switch",
        "z": "274776c7d75078ed",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "a",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "b",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "c",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "d",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 250,
        "y": 720,
        "wires": [
            [
                "4b56863c78a9e976"
            ],
            [
                "41517202b42f9f25"
            ],
            [
                "8aebf4258166036d"
            ],
            [
                "7dcf8e7ff5dd8b38"
            ]
        ]
    },
    {
        "id": "41517202b42f9f25",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "Direccion_B",
        "func": "msg.d = \"Cl. 150 No 18a-12\"\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 700,
        "wires": [
            [
                "df5212076653b78e"
            ]
        ]
    },
    {
        "id": "8aebf4258166036d",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "Direccion_C",
        "func": "msg.d = \"Cl. 134 No 46-7\"\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 740,
        "wires": [
            [
                "df5212076653b78e"
            ]
        ]
    },
    {
        "id": "7dcf8e7ff5dd8b38",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "Direccion_D",
        "func": "msg.d = \"Cl. 103 No 69b-43\"\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 780,
        "wires": [
            [
                "df5212076653b78e"
            ]
        ]
    },
    {
        "id": "af9a102c54a3e900",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "Coordenadas",
        "func": "msg.payload = msg.payload.features[0].geometry.coordinates;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 680,
        "wires": [
            [
                "2162e5d080391004"
            ]
        ]
    },
    {
        "id": "13f45162dcd2c9ea",
        "type": "function",
        "z": "274776c7d75078ed",
        "name": "Direccion",
        "func": "msg.payload = msg.payload.features[0].properties.address.formattedAddress;\n//msg.payload = msg.payload.features[0].geometry.coordinates;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 760,
        "wires": [
            [
                "60becac9d3ef2912"
            ]
        ]
    },
    {
        "id": "1b75f9cdbb39eeb8",
        "type": "tcp in",
        "z": "274776c7d75078ed",
        "name": "Matlab",
        "server": "server",
        "host": "localhost",
        "port": "8050",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "2687dd35ac41459c"
            ]
        ]
    },
    {
        "id": "734909d40f8d2e1e",
        "type": "telegram bot",
        "botname": "Luismrc_6",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]